#eye-Holder {
  width: 110px;
  height: 60px;
  position: f;
  background-color: black;
  clip-path: ellipse(55px 30px at 50% 50%);
}

#eye {
  width: 110px;
  height: 60px;
  position: relative;
  background-color: white;
  background-image: radial-gradient(ellipse 100px 50px at 50% 50%, white, yellow);
  clip-path: ellipse(50px 25px at 50% 50%);
}


#pupil {
  width: 20px;
  height: 20px;
  border: 2px solid blue;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
